@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';

button {
    position: relative;
    height: 65px;
    width: 80px;
    background-color: rgb(99,189,164);
    color: rgb(56, 6, 48);
    outline: 3px solid rgb(98, 175, 183);
    border: none;
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    cursor: default;
  }
  
  button:hover {
    background-color: rgb(62, 204, 164);
  }

  .jumbo {
    background-color: rgb(236, 221, 0);
    width: 160px;
  }

  .jumbo:hover {
    background-color: rgb(252, 232, 53);
  }
  
  .equals {
    position: absolute;
    bottom: 5px;
    height: 130px;
    background-color: rgb(242,5,83);
  }
  
  .equals:hover {
    background-color: rgb(255, 3, 79);
  }