.display-screen {
    background-color: rgb(217,255,234);
    padding: 0.3rem;
}

.equation {
    min-height: 20px;
    font-family: digital;
    font-size: 20px;
    color: rgb(25, 179, 135);
    text-align: right;
    vertical-align: text-top;
    line-height: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
  
.output {
    font-size: 29px;
    font-family: digital;
    color: rgb(63, 143, 120);
    text-align: right;
    line-height: 35px;
}